[package]
name = "puffgres-config"
version.workspace = true
edition.workspace = true
repository.workspace = true

[dependencies]
serde = { workspace = true }
toml = { workspace = true }
thiserror = { workspace = true }
puffgres-core = { workspace = true }
