[package]
name = "puffgres-core"
version.workspace = true
edition.workspace = true
repository.workspace = true

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
rs-puff = { workspace = true }
